body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0 20px;
  text-align: center;
  color: #fff;
  background: #444346;
}

img {
  border: 0px solid #444346;
  border-radius: 20px;
  display: block;
  margin: 30px auto;
  max-width: 600px;
}
ul {
  list-style: none;
}

.SearchCity {
  background: #fff;
  border-radius: 25px;
  display: block;
  margin: 0 auto;
  padding: 20px 24px;
  position: fixed;
  top: 20px;
  transition: all 200ms ease;
  width: 75%;
}

.search:hover {
  cursor: pointer;
}
